/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
//Colors
$primary-color: #3ca8a0;
$secondary-color: #0046b2;
$icon-color: #3076ce;
$card-bg-color: #f0f4fb;
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
  margin-top: 40px;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 15px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* Lists */
ul,
ol {
  list-style: none;
}

li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

ul li::before {
  content: "•";
  position: absolute;
  left: 0;
}

ol li::before {
  content: counter(list-item) ". ";
  position: absolute;
  left: 0;
}

/* Links */
a {
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
}

a:focus {
  outline: none;
}

/* General Layout */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
}

button {
  background-color: #259b8a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #196458;
}

/* Test Card Styling */
.test-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
}

.test-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.test-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.test-card p {
  font-size: 1rem;
  color: #777;
}
